
.history__charts {
    width: 100%;
    margin: 16px 24px;
    display: inline-flex;
}

@media (max-width: 1000px) {
    .history__charts {
        display: block;
    }
}

.charts {
    border: 1px solid #eee;
    margin: 16px 8px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}

